<html>
<body>
<h1>
Práctica final - Joswaldo Gómez Lara
</h1>
<h2>
Funcionamiento del servidor:
</h2>
<p>
Todas las URL que se describen a continuación son accesibles tanto al escribirlas directamente en la barra del navegador como al pinchar en sus respectivos enlaces, que se pueden encontrar dentro de la página web
</p>
<h3>
http://127.0.0.1:8000 >>> La página principal del servidor
</h3>
<p>
Arriba, el banner del sitio
</p>
<p>
Arriba a la derecha el cuadro para loguearte, o tu nombre de usuario si ya estas logueado
</p>
<p>
Debajo del banner, barra con enlaces a diferentes páginas del servidor
</p>
<p>
Mitad derecha, lista con las selecciones de hoteles de los usuarios
</p>
<p>
Mitad izquierda, lista con los 10 hoteles más comentados
</p>
<p>
Abajo, pie de página con el "disclaimer"
</p>
<h3>
http://127.0.0.1:8000/alojamientos >>> Lista con todos los alojamientos que contiene la base de datos del servidor
</h3>
<p>
Arriba, el banner del sitio
</p>
<p>
Arriba a la derecha el cuadro para loguearte, o tu nombre de usuario si ya estas logueado
</p>
<p>
Debajo del banner, barra con enlaces a diferentes páginas del servidor
</p>
<p>
Debajo de la barra de enlaces, buscador de alojamientos en función de diversas características
</p>
<p>
Mitad derecha, lista con las selecciones de hoteles de los usuarios
</p>
<p>
Mitad izquierda, lista con todos los alojamientos, o con los que coincidan con las condiciones de busqueda
</p>
<p>
Abajo, pie de página con el "disclaimer"
</p>
<h3>
http://127.0.0.1:8000/alojamientos/id >>> Información detallada sobre el alojamiento que corresponda con "id"
</h3>
<p>
Arriba, el banner del sitio
</p>
<p>
Arriba a la derecha el cuadro para loguearte, o tu nombre de usuario si ya estas logueado
</p>
<p>
Debajo del banner, barra con enlaces a diferentes páginas del servidor
</p>
<p>
Mitad derecha, lista con las selecciones de hoteles de los usuarios
</p>
<p>
Mitad izquierda, lista con todos los alojamientos, o con los que coincidan con las condiciones de busqueda
</p>
<p>
Debajo de las listas, y solo si estas logueado, cuadro para añadir comentarios al alojamiento y botón para agregar el alojamiento a la selección personal del usuario
</p>
<p>
Abajo, pie de página con el "disclaimer"
</p>
<h3>
http://127.0.0.1:8000/usuario >>> Página personal del usuario "usuario"
</h3>
<p>
Arriba, el banner del sitio
</p>
<p>
Arriba a la derecha el cuadro para loguearte, o tu nombre de usuario si ya estas logueado
</p>
<p>
Debajo del banner, barra con enlaces a diferentes páginas del servidor
</p>
<p>
Mitad derecha, lista con las selecciones de hoteles de los usuarios
</p>
<p>
Mitad izquierda, lista con los alojamientos seleccionados por el usuario
</p>
<p>
Abajo, pie de página con el "disclaimer"
</p>
<h2>
Nota importante
</h2>
<p>
El servidor opera con más URL, pero estas solo realizan trabajos transparentes para el visitante, y como son muchas no se describirán aqui
</p>
</body>
</html>
