/************* GENERAL CSS ************/

body {
	margin: 0px;
	padding: 0px;
	background: #666666 url(http://127.0.0.1:8000/images/back.png) repeat-y center top;
	text-align: justify;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #333333;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #3399FF;
}

a {
	font-weight: bold;	
	text-decoration: none;
	color: #33CCFF;
}

a:hover {
	text-decoration: underline;
	color: #33CCFF;
}

/************* HEADER STUFF ************/

#header {
	width: 770px;
	height: 220px;
	margin: 0px auto;
	padding: 10px 0px;
	background: #FFFBFD url(http://127.0.0.1:8000/images/banner.jpg) center;
}

#header h1 {
	margin: 0px;
	padding: 0px 0px 0px 10px;
	text-align: left;
	color: #3399FF;
	font-size: 3em;
	text-transform: uppercase;
}

#header h2 {
	margin: 0px;
	padding: 0px 0px 0px 20px;
	text-align: left;
	font-size: 1.5em;
	text-transform: uppercase;
}

/************* MENU ************/

#menu {
	width: 770px;
	margin: 0px auto;
	padding: 5px 0px 5px 0px;
	background-color: #000000;
}

#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: center;
}

#menu li {
	display: inline;
}

#menu a {
	padding: 5px 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	background-color: #333333;
}

/************* CONTENT ************/

#content {
	width: 770px;
	margin: 0px auto;
	padding: 20px 0px 0px 0px;
}

#content h2, #content h3, #content h4, #content h5, #content h6 {
	font-weight: normal;
}

#content p, #content ul, #content ol {
	line-height: 150%;
}

#left {
	float: left;
	width: 480px;
	padding: 0px 20px 40px 20px;
}

#right {
	float: right;
	width: 210px;
	padding: 0px 20px 40px 20px;
	color: #99CCFF;
}

#element {
	border: 2px solid black;
    padding: 10px 20px 40px 20px;
}


/************* FOOTER ************/

#footer {
	clear: both;
	width: 771px;
	margin: 0px auto;
	border-top: 1px solid #666666;
	background: url(http://127.0.0.1:8000/images/back-footer.png) repeat-y center top;
	font-size: 9px;
	text-align: center;
	padding: 2px;
	color: #333333;
}

/************* LOGIN ************/

#login {
	float: right;
	padding: 5px 0px 5px 0px;
	color: black;
    background: #99CCFF;
    border: 2px solid black;
}
